<div class="mb-container">
    <input class="mb-input-img--css" id="mb-input-img1"  type="file"   onchange="handleOnChangeInput(this)" accept=".jpg, .jpeg, .png">
    <label for="mb-input-img1" class="mb-label-img" >
      <img style="object-fit: cover; width:200px" src="/pumpkin.png" alt="" srcset="">  
    <span class="mb-pumbkin-text" >chọn 1 ảnh</span>
    </label>
</div>

<div class="mb-overlay">
   

    <div class="mb-overlay-body">
        <div class="spinner-border text-secondary mb-overlay--spinner" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
        <div class="mb-overlay-body-wrap">
            <h3>Bạn có chắc mình muốn dùng ảnh này không?</h3>
            <img src="" class="mb-img-container" id="inputImg" alt="">
            <div class="mb-sm-img">
            <input class="mb-input-img--css" id="mb-input-img2" type="file"   onchange="handleOnChangeInput(this)" accept=".jpg, .jpeg, .png">
           
            <label for="mb-input-img2" class=" mb-sm-img--denied mb-sm-img-all" >Không, lấy ảnh khác</label>
                <div class="mb-sm-img--acceppt mb-sm-img-all" onclick="handleSubmitImg()">Có, lấy ảnh này</div>
            </div>
        </div>
    </div>
</div>
 <script src="/js/bug-config.js"></script>
  <script src="/js/bug-config.js"></script>
  <script>
    
  </script>